<form id="googlify" action="googlify" method='GET' class='googlify'>
  <fieldset>
    <h2>Help me put googly eyes on things</h2>
    <label for="url">First, pick an image</label>
    <input type="text" id="url" name="url" placeholder="url" />

    <label for="style">Then, pick a style</label>
    <select name="style" id="style"></select>

    <button type="submit">
      Googlify!
    </button>
  </fieldset>
</form>
