<div class="result hidden">
  <img src="//:0" alt="result-img" />
  <form>
    <fieldset>
      <label for="permalink">Get permalink:</label>
      <input id="permalink" type="text" name="permalink" placeholder="" readonly />
      <button id="copy-permalink" data-clipboard-target="permalink">
        <i class="fa fa-clipboard"></i>
      </button>
    </fieldset>
  </form>
</div>
